@tailwind base;
@tailwind components;
@tailwind utilities;

header{
    background-image: url(./assests/banner.jpg);
    background-size: cover;
    background-position: center;
}
.ham{
    right: 0%;
}
.none{
    display: block;
}